# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*env/
*venv/
.env
.env.*
env.bak
venv.bak
*.egg-info/
dist/
build/
target/ # For Rust/other compiled outputs if any

# IDE & OS specific
.vscode/
.idea/
.idea/misc.xml
.idea/other.xml
*.DS_Store
Thumbs.db

# Output files
processed_videos/
csv_reports/
*.log
batch_errors.log
overall_batch_summary.csv
*_hit_metrics.csv
*_summary.csv

# Other files from development
runs/
sort/__pycache__/
Test Clips/
training/
Development_Files/
Test Clip Output/
Test Clips/
runs/
configs/
sort/__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints# created by virtualenv automatically
